<section>
  <h1>Медальки</h1>
  <!-- Add these tags to the HEAD section of your page. -->

  <link href="http://coderwall.com/stylesheets/jquery.coderwall.css" media="all" rel="stylesheet" type="text/css">
  <script src="http://coderwall.com/javascripts/jquery.coderwall.js"></script>

  <!-- You also need to place a container where you'd like the Coderwall badges to render. -->
  <section class="coderwall" data-coderwall-username="8xx8ru" data-coderwall-orientation="vertical"></section>
</section>
